@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap');
body {
  position: relative;
  background: #f1f1f1;
  min-height: 100vh;
}

.navbar-brand img {
  width: 150px;
  height: 100%;
}

.card .card-title {
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif !important;
  color: #3bd5c3;
}

.box-infected .card-header {
  background:#929292 !important;
}

.box-recovered .card-header {
  background:#929292 !important;
}

.box-deaths .card-header {
  background:#929292 !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #3bd5c3;
  outline: 0;
}

.border-bottom {
  border-bottom: 1px solid #3bd5cf!important;
}